* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://img.etimg.com/thumb/width-1200,height-1200,imgsize-92902,resizemode-75,msid-96559145/magazines/panache/rimac-nevera-worth-2-1-mn-is-worlds-fastest-electric-car-with-256mph-top-speed.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #2980b9;
}

.form input[type="text"],
.form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.label {
    font-size: 16px;
}

.nav {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
}

.signup-link a {
    color: #3498db;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
